<th:block th:replace="usr/common/head"/>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>위치 정보 등록</title>
    <link rel="stylesheet" href="/resource/css/gpsAlertAdd.css"/>
    <script>
        let latitude = null; // Thymeleaf 표현식
        let longitude = null; // Thymeleaf 표현식
    </script>
    <script src="/resource/js/gpsAlertAdd.js"></script>
    <script th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${GOOGLE_MAP_API_KEY} + '&libraries=places&callback=initMap'}"
            async defer></script>
</head>
<body>
<div class="mapBody">
    <div class="title">제한구역 등록</div>
    <div class="profile tw-p-5">
        반려견이 제한구역에서 1km 이상 벗어나면 핸드폰 문자서비스를 보내드립니다.
    </div>
    <div class="upload_map tw-p-2">
        <span>
            <input class="upload_input" type="text" id="searchInput" placeholder="장소 검색">
            <button class="upload_button" onclick="searchPlace()">검색</button>
        </span>
        <button class="upload_button" th:onclick="'getCenterCoordinates(' + ${dogId} + ',true)'">등록</button>
    </div>
    <div id="map" style="width: 1340px; height: 600px;"></div>

    <!-- 위도와 경도 정보를 표시할 숨겨진 input -->
    <input type="hidden" id="lat" value="37.5665">
    <input type="hidden" id="lng" value="126.9780">
</div>
</body>
</html>